<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
	height: 100%;      
	margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>

	 <h1> New lawyer </h1>

	 <p>
	    	<strong>Name: </strong>
		<%= @lawyer.name %>
	    </p>

	    <p>
	        <strong>Email ID:</strong>
		<%= @lawyer.email_id %>
	    </p>
		
	    <p>
	        <strong>Address:</strong>
		<%= @lawyer.address %>
	    </p>

	    <p>
	    	<strong>College Name </strong>
		<%= @lawyer.college_name %>
	    </p>
	
	    <p>
	    	<strong>Qualiification</strong>
	    	<%= @lawyer.qualification %>
	    </p>

            <p>
                <strong> Gender </strong>
                <%= @lawyer.gender %>
            </p>

       	     <p>
                <strong> DOB_Format_DDMMYYYY </strong>
                <%= @lawyer.dob %>
            </p>

       	     <p>
                <strong> Experience </strong>
                <%= @lawyer.experience %>
             </p>


  	      <p> 
    	</p>

  	</body>	
</html>
